.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

@media screen and (max-width: 768px) {
  .footer__column_content_copyright {
    justify-content: flex-start;
    flex-basis: auto;
  }
}
