.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 2;
}

@media screen and (max-width: 700px) {
  .feynman__link {
    font-size: 16px;
    line-height: 1.2;
  }
}
