.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

@media screen and (max-width: 700px) {
  .footer__author {
    font-size: 16px;
    line-height: 1.2;
  }
}
