.techniques {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .techniques {
    padding-top: 60px;
  }
}
