.video__iframe {
  border: none;
  width: 516px;
  height: 316px;
}

.video__iframe:first-of-type {
  margin-right: 20px;
}

@media screen and (max-width: 1082px) {
  .video__iframe {
    width: 480px;
    height: 270px;
  }
  .video__iframe:first-of-type {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .video__iframe {
    width: 320px;
    height: 180px;
  }
}
