.two-columns__main-text {
  width: 80%;

  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

@media screen and (max-width: 837px) {
  .two-columns__main-text {
    font-size: 18px;
    line-height: 1.2;
  }
}
