.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

@media screen and (max-width: 700px) {
  .two-columns__main-text {
    min-width: 0;
    font-size: 18px;
    line-height: 1.2;
  }
}
