.resources__logo-link {
    width: 270px;
    height: 38px;
}

@media screen and (max-width: 700px) {
  .resources__logo-link {
    margin-bottom: 26px;
  }

  .resources__logo-link:last-of-type {
    margin-bottom: 0;
  }
}
