.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  max-width: 175px;
  min-width: 150px;
}

@media screen and (max-width: 700px) {
  .two-columns__brief {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
