.header__title {
  max-width: 730px;
  margin: auto 0 auto 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

@media screen and (max-width: 1203px) {
  .header__title {
    margin: 20px 0 50px 64px;
  }
}

@media screen and (max-width: 837px) {
  .header__title {
    font-size: 76px;
    max-width: 520px;
    line-height: 80px;
    margin: 40px 0 20px 64px;
  }
}

@media screen and (max-width: 677px) {
  .header__title {
    font-size: 58px;
    line-height: 64px;
    margin: 40px 0 20px 30px;
  }
}

@media screen and (max-width: 568px) {
  .header__title {
    font-size: 44px;
    line-height: 1.2;
    max-width: 500px;
  }
}
