.header__main-illustration {
  height: 608px;
  width: 756px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 700px) {
  .header__main-illustration {
    height: 304px;
    width: 378px;
  }
}
