*{box-sizing: border-box;}

.margin-reset {
  margin: 0;
}

.padding-reset {
  padding: 0;
}

.top-margin-reset {
  margin-top: 0;
}

.bottom-margin-reset {
  margin-bottom: 0;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", "Arial", "sans-serif";
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  background-size: cover;
  display: flex;
  position: relative;
}

.header__title {
  width: 730px;
  margin: auto 0 auto 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

.header__bottom {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__bottom-text {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__main-illustration {
  height: 608px;
  width: 756px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__blue-square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.description {
  display: flex;
}

.two-columns {
  width: 80%;
  margin: 100px auto 0;
  display: flex;
  flex-direction: row;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  max-width: 175px;
  min-width: 150px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  justify-content: center;
}

.digits__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 69px;
  width: 60%;
  margin: 100px auto 20px;
  text-align: center;
}

.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.table {
  list-style: none;
  width: 1100px;
  margin: 60px auto 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
}

.table__cell-top-row {
  margin-bottom: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 20px;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.table__main-text {
  margin-bottom: 20px;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
  height: 790px;
  display: flex;
  justify-content: center;
}

.feynman__headings {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.feynman__title {
  width: 775px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
  margin-top: 100px;
}

.feynman__subtitle {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  line-height: 51px;
  margin-top: 70px;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 2;
}

.feynman__pic {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;

}

.kaufman__pic {
  width: 660px;
  height: 636px;
  position: absolute;
  top: 0;
  right: -124px;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin-top: 90px;
  position: relative;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  position: relative;
  z-index: 2;
}

.table_theme_dark {
  color: white;
  width: 1100px;
  margin-bottom: 90px;
  margin-top: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__main-text_theme_dark {
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
}

.table__text_theme_dark {
  color: white;
}

.logo_place_footer {
  color: white;
  width: 183px;
  height: 35px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 1px;
  margin-top: -1px;
  display: flex;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column_content_about {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  margin-top: 0;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
