.feynman__pic {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .feynman__pic {
    width: 320px;
    height: 180px;
  }
}
