.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  align-self: flex-start;
}

@media screen and (max-width: 517px) {
  .khan__buy-link {
    font-size: 18px;
    line-height: 1.2;
  }
}
