.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
  margin-right: 48px;
}

@media screen and (max-width: 700px) {
  .khan__book-pic {
    width: 310px;
    height: 304px;
  }
}
